.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color:#e3dfdf;
    transition: all 0.5s linear;
}
a{
    color: #2f5b91;
    font-size: 19px;
}
.burger{
    display: none;
    
}
.nav-img{
    height: 100px;
}
.nav-ul{
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
}
.first, .second, .third{
    width: 50px;
    height: 3px;
    background-color: #2f5b91;
    border-radius: 15%;
}
.second{
    width: 40px;
}
.burger{
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    cursor: pointer;
}
@media (max-width: 950px) {
.nav-ul{
     display: none;
}
.burger{
    display: flex;    
}
}

.display{
    transition-delay: 2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 200px; 
}
.notDisplay{
    display: none;
}
.active{
    width: 500px;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
}
.displaySecond{
    display: none;
}
.displayFirst{
    transform: rotate(45deg) translateY(20px);
    transition: all 0.2s linear;
}
.displayThird{
    transform: rotate(-45deg) translate(-1.5px,-20px);
    transition: all 0.2s linear;
}